In [1]:
username = input('Enter username:')

Enter username:Fiona

In [2]:
print("Username is:"+ " "+username)

Username is: Fiona

In [3]:
print("Hello" +  " "+username)

Hello Fiona

In [30]:
hours = float(input("Enter hours:"))

Enter hours:35

In [31]:
rate = float(input("Enter Rate:"))

Enter Rate:2.75

In [37]:
pay = ((hours) * (rate)
print(pay )

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
temp = input("Enter Celsius Temperature:")

Enter Celsius Temperature:37

In [28]:

fahren = ((int(temp) *1.8) + 32)

In [29]:
print(fahren)

98.60000000000001